<content>

	<h1 class="main_logo"></h1>

	<form name="login_form" ng-submit="login_form.$valid && account.login(username, password)" novalidate ng-show="mode == 'login'">

		<flex>
			<div>
				<input type="text" ng-model="username" minlength="4" maxlength="24" required>
				<label>Username</label>
			</div>
			<div>
				<input type="password" ng-model="password" minlength="4" maxlength="24" required>
				<label>Password</label>
			</div>
		</flex>
		<input type="submit" value="Login">

		<a href ng-click="mode = 'signup'" class="button secondary inline centered small">Signup</a>

	</form>

	<form name="signup_form" ng-submit="signup_form.$valid && signup()" novalidate="" ng-show="mode == 'signup'">

		<flex>
			<div>
				<input type="text" ng-model="username">
				<label>Username</label>
			</div>
			<div>
				<input type="password" ng-model="password">
				<label>Password</label>
			</div>
		</flex>
		<input type="submit" value="Signup" class="alt">
		<a href ng-click="mode = 'login'" class="button secondary inline centered small">Login</a>

	</form>

</content>
